<section class="CTA">
  <div class="container">
    <div class="row align-items-center" style="height: 550px">
      <div class="col-3"></div>
      <div class="col-6">
        <h1>La réponse à la vie, l'univers et tout le reste ...</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?rel=0&amp;controls=0&amp;autoplay=1;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="col-3"></div>
    </div>
  </div>

</section>
