<section class="CTA">
  <br>
  <% provide(:title, 'Sign up') %>
  <h1>Sign up</h1>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 form">
        <%= render 'form' %>
          <p>Already got an account? <%= link_to "Log in!", "/sessions/new" %></p>
    </div>
    <div class="col-md-4"></div>
  </div>

</section>
