<section class="CTA">

  <div class="container">
    <div class="row">
      <div class="col-3"></div>
        <div class="col-6" style="padding: 20px 50px ">
          <div class="container">
            <% provide(:title, 'Sign up') %>
            <h1>Inscription</h1>
            <%= render 'form' %>
            <hr style="border : 1px solid white">
            <p>Tu as déjà un compte ?     <%= link_to "Log toi !", "/sessions/new", class: 'btn btn-sm btn-primary' %></p>
          </div>
        </div>
      <div class="col-3"></div>
    </div>
  </div>






</section>
