<h1>Page profil</h1>

<p>Vous êtes connecté avec l'adresse : <%= @user.email %></p>

<p>Souhaitez-vous connaitre la réponse à la question que tout le monde se pose ?<br>
Souhaitez-vous connaitre la réponse de l'Univers ?</p>
<p><a href="/thgttg-secret">Cliquez ici</a></p>

<p>Sinon, nous vous recommandons fortement de supprimer votre compte, afin d'éviter de céder à la tentation.</p>
