// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
section.CTA {
  height: 550px;
  background-image: url(asset-path("bg.jpg"));
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
}
